# cache
*.pyc
.env
.vscode
.kiro
uv.lock
package-lock.json
config.yaml

# files
*.ttf
*.svg
*.bat
*.sh
*.zip

# folder
refactor/
generated/
sessions/
uploads/
open_design_data/

# custom
dev-*
spec.md
