# cache
.env
.vscode
.kiro
*.pyc
uv.lock
package-lock.json
config.yaml

# files
.streamlit/
*.backup
# file
*.ttf
*.svg
*.bat
*.sh
*.zip

# folder
refactor/
generated/
sessions/
uploads/
open_design_data/

# custom
dev-*
spec.md
