# cache
.env
.vscode
.kiro
.streamlit/
uv.lock
package-lock.json
config.yaml
*.pyc
*.backup

# data
open_design_data/
uploads/
generated/
source/

# file
*.ttf
*.svg
*.bat
*.sh
*.zip

# folder
refactor/
generated/
sessions/
uploads/
open_design_data/

# custom
dev-*
spec.md
